<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon"
          href="/favicon.ico" />
    <meta name="viewport"
          content="width=device-width,initial-scale=1" />
    <title>Investments &amp; Models</title>
    <link rel="stylesheet"
          href="../../../style/app.css" />
    <script defer="defer"
            src="./index.js"></script>
</head>

<body class="theme-light small col fill gap20">
    <div class="row spread wrap gap10">
        <h3>Investments and Models</h3>
        <h3>Total: $273,723</h3>
    </div>

    <main class="col gap20 scroll-vertical">
        <div class="form-group col gap20">
            <fieldset class="gap20 spread">
                <h4 class="primary" id="username">John McHugh</h4>
                <h5>Plan 1 - 74375</h5>
            </fieldset>
            <fieldset>
                <label>Defined Contributions</label>
                <div>$17,654.00</div>
            </fieldset>
            <fieldset class="row gap10 wrap">
                <div class="col gap5">
                    <div class="no-textwrap">Market Value</div>
                    <button class="small center">$17,654.00</button>
                </div>
                <div class="col gap5">
                    <div class="no-textwrap">Vested Value</div>
                    <button class="small center">$15,654.23</button>
                </div>
                <div class="col gap5">
                    <div class="no-textwrap">Available Loans</div>
                    <button class="small center">$16,323.34</button>
                </div>
                <div class="col gap5">
                    <div class="no-textwrap">Withdrawals</div>
                    <button class="small center">$17,120.00</button>
                </div>
            </fieldset>
        </div>
        <div class="form-group col gap10">
            <fieldset class="gap20 spread">
                <h4 class="primary" id="username">John McHugh</h4>
                <h5>Plan 2 - 35310</h5>
            </fieldset>
            <fieldset>
                <label>Defined Contributions</label>
                <div>$243,950.00</div>
            </fieldset>
            <fieldset class="row gap10 wrap">
                <div class="col gap5">
                    <div class="no-textwrap">Market Value</div>
                    <button class="small center">$243,950.00</button>
                </div>
                <div class="col gap5">
                    <div class="no-textwrap">Vested Value</div>
                    <button class="small center">$243,000.00</button>
                </div>
                <div class="col gap5">
                    <div class="no-textwrap">Available Loans</div>
                    <button class="small center">$243,000.95</button>
                </div>
                <div class="col gap5">
                    <div class="no-textwrap">Withdrawals</div>
                    <button class="small center">$221,592.23</button>
                </div>
            </fieldset>
        </div>
    </main>
</body>

</html>