<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/x-icon" href="../../../favicon.ico" />
		<title>Keeping Track</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
			rel="stylesheet"
		/>
	</head>
	<link rel="stylesheet" href="../common/style.css" />

	<body>
		Keeping Track
	</body>
</html>
