<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Investments &amp; Models</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <script
      defer="defer"
      src="static/js/index.js"
    ></script>
    <link
      href="static/css/index.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="App">
        <div class="header">
          <div class="app-title">Investments and Models</div>
          <div class="total-portfolio-wrapper">
            <div class="total-portfolio">$273,723</div>
            <div class="total-portfolio-label">Portfolio Total</div>
          </div>
        </div>
        <div class="card">
          <div class="row" style="margin-bottom: 4px">
            <div class="username text">John McHugh</div>
            <div class="plan text">Plan 1 - 74375</div>
          </div>
          <div class="row"><div class="portfolio-value">$17,654.00</div></div>
          <div class="row" style="margin-bottom: 8px">
            <div class="text">Defined Contributions</div>
          </div>
          <div class="row">
            <div class="btn-wrapper">
              <div class="btn">$17,654.00</div>
              <div class="btn-value">Market Value</div>
            </div>
            <div class="btn-wrapper">
              <div class="btn">$15,654.23</div>
              <div class="btn-value">Vested Value</div>
            </div>
            <div class="btn-wrapper">
              <div class="btn">$16,323.34</div>
              <div class="btn-value">Available Loans</div>
            </div>
            <div class="btn-wrapper">
              <div class="btn">$17,120.00</div>
              <div class="btn-value">Withdrawals</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="row" style="margin-bottom: 4px">
            <div class="username text">John McHugh</div>
            <div class="plan text">Plan 2 - 35310</div>
          </div>
          <div class="row"><div class="portfolio-value">$243,950.00</div></div>
          <div class="row" style="margin-bottom: 8px">
            <div class="text">Defined Contributions</div>
          </div>
          <div class="row">
            <div class="btn-wrapper">
              <div class="btn">$243,950.00</div>
              <div class="btn-value">Market Value</div>
            </div>
            <div class="btn-wrapper">
              <div class="btn">$243,000.00</div>
              <div class="btn-value">Vested Value</div>
            </div>
            <div class="btn-wrapper">
              <div class="btn">$243,000.95</div>
              <div class="btn-value">Available Loans</div>
            </div>
            <div class="btn-wrapper">
              <div class="btn">$221,592.23</div>
              <div class="btn-value">Withdrawals</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
