<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Participant Summary</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <script
      defer="defer"
      src="static/js/index.js"
    ></script>
    <link
      href="static/css/index.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="App">
        <div class="participant-summary">Participant Summary</div>
        <div class="content-card">
          <div class="username">John McHugh</div>
          <div class="card">
            <div class="row">
              <div class="col title">Username</div>
              <div class="col email">john.mchugh@gmail.com</div>
            </div>
            <div class="row">
              <div class="col title">Password Status</div>
              <div class="col">Active</div>
            </div>
          </div>
          <div class="card">
            <div class="row"><div class="card-title">Demographics</div></div>
            <div class="row">
              <div class="col title">SSN</div>
              <div class="col">XXX-XXX-XXX</div>
            </div>
            <div class="row">
              <div class="col title">DOB</div>
              <div class="col">04/23/1987</div>
            </div>
            <div class="row">
              <div class="col title">Age</div>
              <div class="col">35</div>
            </div>
            <div class="row">
              <div class="col title">Marital Status</div>
              <div class="col">Married</div>
            </div>
            <div class="row">
              <div class="col title">Gender Identity</div>
              <div class="col">Male</div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col title">Address</div>
              <div class="col">
                1234 Main St.<br />
                Brooklyn NY 11214
              </div>
            </div>
            <div class="row">
              <div class="col title">Email</div>
              <div class="col email">john.mchugh@gmail.com</div>
            </div>
            <div class="row">
              <div class="col title">Phone</div>
              <div class="col">999-311-111</div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col title">Employment</div>
              <div class="col">Active</div>
            </div>
            <div class="row">
              <div class="col title">Date of hire</div>
              <div class="col">12/12/2010</div>
            </div>
            <div class="row">
              <div class="col title">Employee number</div>
              <div class="col">999-311-111</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
