node_modules
build
out
.idea
.DS_STORE
how-to/*/package-lock.json
how-to/workspace-platform-starter/packaged
how-to/workspace-platform-starter/public/js/assets/provider.zip
how-to/integrate-with-salesforce/public/js/preload.js
how-to/integrate-with-salesforce-basic/public/js/preload.js
# Bundle/builds
**/*.bundle.js
**/build
./public*/
updatable-packages.txt
public-github