@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
html {
  overflow: hidden;
  background-color: #0b0b14;
}
.box {
  background-color: #0b0b14;
}
::-webkit-scrollbar {
  display: none;
}
