html, body, #root {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .App {
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #111214;
    margin-bottom: 12px;
    text-align: left;
  }
  
  .title::after {
    content: '';
    width: 14px;
    height: 14px;
    margin-left: 11px;
    display: inline-block;
    background-image: url('icon.png');
    background-size: cover;
  }
  
  .card {
    border-radius: 4px;
    background-color: #F3F5F8;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .time {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 12px;
  }
  
  .time-elapsed {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 50px;
  }
  
  .call-btn {
    border: none;
    border-radius: 4px;
    padding: 8px 20px 8px 20px;
    background-color: #F05924;
    color: #FFFFFF;
  }