<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon"
        href="/favicon.ico" />
  <meta name="viewport"
        content="width=device-width,initial-scale=1" />
  <title>Annual Leave</title>
  <link rel="preconnect"
        href="https://fonts.googleapis.com" />
  <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin="" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
        rel="stylesheet" />
  <link rel="stylesheet"
        href="../common/style.css" />
  <script type="module"
          src="./index.js"></script>
</head>

<body>
  <div class="row gap20 pad10 fill">
    <div class="col">
      <div class="row gap10 spread">
        <h1 class="currentMonthYear"></h1>
        <div class="row">
          <button id="monthYearPrevious"><</button>
          <button id="monthYearNext">></button>
        </div>
      </div>
      <div id="smallCalendar" class="calendar col">
        <div class="calendar-header"></div>
        <div class="calendar-days"></div>
      </div>
      <div id="nextOnLeave" class="next-on-leave"></div>
    </div>
    <div class="col fill">
      <div id="largeCalendar" class="calendar col fill">
        <div class="calendar-header"></div>
        <div class="calendar-days fill"></div>
      </div>
    </div>
    <div class="col summary">
      <h1>Annual Leave Summary</h1>
      <div id="remainingLeaveDays" class="summary-value summary-highlight"></div>
      <div class="summary-label summary-highlight">Remaining Leave Days</div>
      <div id="allotedLeaveDays" class="summary-value"></div>
      <div class="summary-label">Alloted Leave Days</div>
      <div id="leaveDays" class="summary-value"></div>
      <div class="summary-label">Leave Days Taken</div>
      <div id="awaitingApproval" class="summary-value"></div>
      <div class="summary-label">Awaiting Approval</div>
      <div class="row fill bottom">
        <div id="lastUpdated" class="summary-footer"></div>
      </div>
    </div>
  </div>
</body>

</html>