<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<link rel="icon" href="/assets/rss.svg" />
		<title>RSS Feed</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="./rss-feed.js"></script>
		<link rel="stylesheet" href="https://built-on-openfin.github.io/workspace-starter/dev/martyn/package-platform-fix/common/style/app.css" />
	</head>
	<body class="col fill gap20">
		<header class="row spread middle">
			<div class="col">
				<h1 id="feed-title">RSS Feed</h1>
			</div>
			<div class="row middle gap10">
				<image src="../assets/rss.svg" alt="RSS" height="40px"></image>
			</div>
		</header>
		<main class="fill col scroll-vertical">
			<div id="feed-container" class="col gap20"></div>
		</main>
	</body>
</html>
