<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Theme Definition Builder</title>
		<script src="./3rd-party/color-thief/color-thief.umd.js"></script>
		<script type="module" src="./theme-definition-builder-view.js"></script>
		<link rel="stylesheet" href="../../../style/app.css" />
		<script src="../../../components/fin-toggle-class.js" defer></script>
		<style>
			.swatch {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				display: inline-block;
				margin-right: 5px;
			}
			.swatches {
				padding-top: 5px;
			}
			.pointer-cursor {
				cursor: pointer;
			}
		</style>
	</head>

	<body class="col fill gap20">
		<header class="row spread middle">
			<div class="col">
				<h1>Theme Definition Builder</h1>
				<h1 class="tag">Helping you build a theme definition for your workspace</h1>
			</div>
			<div class="row middle gap10">
				<button is="fin-toggle-class" id="class-toggle" title="Change style"></button>
				<image src="../../../images/icon-blue.png" alt="OpenFin" height="40px"></image>
			</div>
		</header>
		<main class="row fill gap20">
			<div class="row fill gap40">
				<div class="fill col gap10">
					<form class="col gap40 scroll-vertical">
						<div class="form-section col gap10">
							<h2>Theme Options</h2>
							<fieldset>
								<label for="title" title="The title for this theme">Title</label>
								<input type="text" id="title" class="full" placeholder="your-theme" required />
							</fieldset>
							<fieldset>
								<label for="logo" title="The path to the logo for this theme.">Logo</label>
								<input
									type="url"
									id="logo"
									class="full"
									placeholder="http://localhost:8080/favicon.ico"
									required
								/>
							</fieldset>
							<fieldset>
								<label for="brand-primary" title="A color for brandPrimary.">brandPrimary</label>
								<input type="color" id="brand-primary" value="#504CFF" />
							</fieldset>
							<fieldset>
								<label for="brand-secondary" title="A color for brandSecondary.">brandSecondary</label>
								<input type="color" id="brand-secondary" value="#383A40" />
							</fieldset>
							<fieldset>
								<label for="background-primary" title="A color for backgroundPrimary.">
									backgroundPrimary
								</label>
								<input type="color" id="background-primary" value="#000000" />
							</fieldset>
							<fieldset>
								<label for="background-1" title="A color for background1.">background1</label>
								<input type="color" id="background-1" value="#111214" />
							</fieldset>
							<fieldset>
								<label for="background-2" title="A color for background2.">background2</label>
								<input type="color" id="background-2" value="#1E1F23" />
							</fieldset>
							<fieldset>
								<label for="background-3" title="A color for background3.">background3</label>
								<input type="color" id="background-3" value="#24262B" />
							</fieldset>
							<fieldset>
								<label for="background-4" title="A color for background4.">background4</label>
								<input type="color" id="background-4" value="#2F3136" />
							</fieldset>
							<fieldset>
								<label for="background-5" title="A color for background5.">background5</label>
								<input type="color" id="background-5" value="#383A40" />
							</fieldset>
							<fieldset>
								<label for="background-6" title="A color for background6.">background6</label>
								<input type="color" id="background-6" value="#53565F" />
							</fieldset>
							<fieldset>
								<label for="status-success" title="A color for statusSuccess.">statusSuccess</label>
								<input type="color" id="status-success" value="#35C759" />
							</fieldset>
							<fieldset>
								<label for="status-warning" title="A color for statusWarning.">statusWarning</label>
								<input type="color" id="status-warning" value="#C93400" />
							</fieldset>
							<fieldset>
								<label for="status-critical" title="A color for statusCritical.">statusCritical</label>
								<input type="color" id="status-critical" value="#000000" />
							</fieldset>
							<fieldset>
								<label for="status-active" title="A color for statusActive.">statusActive</label>
								<input type="color" id="status-active" value="#0879C4" />
							</fieldset>
							<fieldset>
								<label for="input-background" title="A color for inputBackground.">inputBackground</label>
								<input type="color" id="input-background" value="#53565F" />
							</fieldset>
							<fieldset>
								<label for="input-color" title="A color for inputColor.">inputColor</label>
								<input type="color" id="input-color" value="#FFFFFF" />
							</fieldset>
							<fieldset>
								<label for="input-placeholder" title="A color for inputPlaceholder.">inputPlaceholder</label>
								<input type="color" id="input-placeholder" value="#C9CBD2" />
							</fieldset>
							<fieldset>
								<label for="input-disabled" title="A color for inputDisabled.">inputDisabled</label>
								<input type="color" id="input-disabled" value="#7D808A" />
							</fieldset>
							<fieldset>
								<label for="input-focused" title="A color for inputFocused.">inputFocused</label>
								<input type="color" id="input-focused" value="#C9CBD2" />
							</fieldset>
							<fieldset>
								<label for="text-default" title="A color for textDefault.">textDefault</label>
								<input type="color" id="text-default" value="#FFFFFF" />
							</fieldset>
							<fieldset>
								<label for="text-help" title="A color for textHelp.">textHelp</label>
								<input type="color" id="text-help" valu"#C9CBD2"e= />
							</fieldset>
							<fieldset>
								<label for="text-inactive" title="A color for textInactive.">textInactive</label>
								<input type="color" id="text-inactive" value="#7D808A" />
							</fieldset>
						</div>
					</form>
				</div>

				<form class="fill_2 col gap40 scroll-vertical">
					<div class="form-section col fill gap10">
						<h2>Theme Inspiration</h2>
						<fieldset>
							<label for="domain" title="The domain you are building a theme for">Domain</label>
							<div class="full row gap10">
								<input type="url" id="domain" class="fill" placeholder="https://www.yourdomain.com" />
								<button id="btnCaptureDomain" type="button">Capture Domain Colors</button>
							</div>
						</fieldset>
						<fieldset>
							<label for="domain-delay">
								Delay Before Capture In Seconds:
								<span id="delay">2</span>
							</label>
							<input type="range" id="domain-delay" min="0" value="2" max="20" />
						</fieldset>
						<fieldset id="palette-container" style="display: none">
							<div class="full row gap10">
								<div>
									<label>Dominant Color</label>
									<div class="swatches">
										<div
											class="swatch pointer-cursor"
											id="dominant-color"
											style="background-color: red"
											draggable="true"
											title="Click to copy @dominantColor to the clipboard"
										></div>
									</div>
								</div>
								<div>
									<label>Palette</label>
									<div class="swatches">
										<div
											class="swatch pointer-cursor"
											id="palette-1"
											style="background-color: blue"
											draggable="true"
											title="Click to copy @palette1Color to the clipboard"
										></div>
										<div
											class="swatch pointer-cursor"
											id="palette-2"
											style="background-color: green"
											draggable="true"
											title="Click to copy @palette2Color to the clipboard"
										></div>
										<div
											class="swatch pointer-cursor"
											id="palette-3"
											style="background-color: orange"
											draggable="true"
											title="Click to copy @palette3Color to the clipboard"
										></div>
										<div
											class="swatch pointer-cursor"
											id="palette-4"
											style="background-color: blue"
											draggable="true"
											title="Click to copy @palette4Color to the clipboard"
										></div>
										<div
											class="swatch pointer-cursor"
											id="palette-5"
											style="background-color: green"
											draggable="true"
											title="Click to copy @palette5Color to the clipboard"
										></div>
										<div
											class="swatch pointer-cursor"
											id="palette-6"
											style="background-color: orange"
											draggable="true"
											title="Click to copy @palette6Color to the clipboard"
										></div>
										<div
											class="swatch pointer-cursor"
											id="palette-7"
											style="background-color: blue"
											draggable="true"
											title="Click to copy @palette7Color to the clipboard"
										></div>
										<div
											class="swatch pointer-cursor"
											id="palette-8"
											style="background-color: green"
											draggable="true"
											title="Click to copy @palette8Color to the clipboard"
										></div>
										<div
											class="swatch pointer-cursor"
											id="palette-9"
											style="background-color: orange"
											draggable="true"
											title="Click to copy @palette9Color to the clipboard"
										></div>
										<div
											class="swatch pointer-cursor"
											id="palette-10"
											style="background-color: blue"
											draggable="true"
											title="Click to copy @palette10Color to the clipboard"
										></div>
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<image id="domain-preview" class="pointer-cursor border" style="display: none" width="100%" />
						</fieldset>
						<fieldset class="fill">
							<h4 id="previewTitle">Theme Definition</h4>
							<pre id="preview" class="fill scroll-vertical"></pre>
						</fieldset>
					</div>
				</form>
			</div>
		</main>
		<footer>
			<div class="row spread">
				<div class="row gap10">
					<button id="btnResetDark">Apply Dark Theme</button>
					<button id="btnResetLight">Apply Light Theme</button>
					<a href="https://developers.openfin.co/of-docs/docs/workspace-themes-overview" target="_blank">
						Docs
					</a>
				</div>
				<div class="row gap10">
					<a class="button" id="btnSave">Save To File</a>
					<button id="btnCopy">Copy To Clipboard</button>
				</div>
			</div>
		</footer>
	</body>
</html>
