<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" href="./favicon.ico" />
		<title>Company Comms</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../common/style.css" />
		<script type="module" src="./index.js"></script>
		<style>
			::-webkit-scrollbar-thumb {
				background: #eeeeeeaa;
			}

			::-webkit-scrollbar-thumb:hover {
				background: #eeeeee;
			}
		</style>
	</head>

	<body class="no-overflow">
		<div class="col">
			<header class="company-comms">
				<div class="row">
					<a href="#" aria-selected="true">Latest News</a>
					<a href="#">Connections</a>
					<a href="#">Feed (6)</a>
				</div>
				<img src="../images/officeplace.svg" height="24px" alt="Office Place" />
			</header>
			<div class="col company-comms-list fill gap10 pad20"></div>
		</div>
	</body>
</html>
