<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>FDC3 Context - Context using FDC3</title>
		<script type="module" src="./fdc3-broadcast-view.js"></script>
		<link rel="stylesheet" href="../../../style/app.css" />
		<script src="../../../components/fin-toggle-class.js" defer></script>
	</head>

	<body class="col fill gap20">
		<header class="row spread middle">
			<div class="col">
				<h1>
					Context using FDC3
					<span id="fdc3Version"></span>
				</h1>
				<h1 class="tag">Broadcast and Listen To Context</h1>
			</div>
			<div class="row middle gap10">
				<button is="fin-toggle-class" title="Change style"></button>
				<image src="../../../images/icon-blue.png" alt="OpenFin" height="40px"></image>
			</div>
		</header>
		<main class="row fill gap20">
			<div class="row fill gap40">
				<div class="fill col gap20">
					<form class="col gap40 scroll-vertical">
						<div id="sectionCommon" class="formSection col gap10">
							<h2>FDC3 Options</h2>
							<fieldset>
								<label
									for="channelType"
									title="There are different types of channel you can broadcast and listen against. System Channels defined by the platform (generally color coded) and custom application channels."
								>
									Channel Type
								</label>
								<select name="channelType" id="channelType">
									<option value="systemChannel">System Channel</option>
									<option value="appChannel">App Channel</option>
								</select>
							</fieldset>
							<fieldset>
								<label
									for="fdc3Type"
									title="What type of context objects are you looking to send. We provide a list of the supported FDC3 types but you can define your own context objects."
								>
									Context Type
								</label>
								<select name="fdc3Type" id="fdc3Type">
									<option value="fdc3.instrument">fdc3.instrument</option>
									<option value="fdc3.contact">fdc3.contact</option>
								</select>
							</fieldset>
							<fieldset>
								<label
									for="fdc3Value"
									title="We provide at least one example based on the context type selected. You can use this to see the default structure of these context types."
								>
									Sample Data
								</label>
								<select name="fdc3Value" id="fdc3Value"></select>
							</fieldset>
							<fieldset>
								<label
									for="context"
									title="We populate this text area with the value selected from the dropdown above but you can also customize it to publish your own context types."
								>
									Context To Send
								</label>
							</fieldset>
							<fieldset>
								<textarea style="overflow-y: auto" class="fill" id="context" rows="8"></textarea>
							</fieldset>
						</div>
					</form>
				</div>
				<div class="col fill gap20">
					<h2 id="previewTitle">Code Preview</h2>
					<pre id="preview" class="fill scroll-horizontal scroll-vertical"></pre>
				</div>
			</div>
		</main>
		<footer>
			<div class="row spread">
				<div class="row gap10">
					<button id="btnBroadcast">Execute</button>
					<button id="btnClear">Clear</button>
					<button id="btnSeeCode">See Code</button>
					<button id="btnSeeLogs">See Logs</button>
				</div>
				<div class="row gap10">
					<a href="https://developers.openfin.co/of-docs/docs/fdc3-support-in-openfin" target="_blank">
						Docs
					</a>
				</div>
			</div>
		</footer>
	</body>
</html>
