<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Investments &amp; Models</title>
		<link rel="icon" type="image/x-icon" href="../../../../favicon.ico" />
		<link rel="stylesheet" href="../../../style/app.css" />
		<script defer="defer" src="./index.js"></script>
	</head>

	<body class="small col fill gap20">
		<div class="row spread wrap gap10">
			<h3>Investments and Models</h3>
			<h3>Total: $273,723</h3>
		</div>

		<main class="col gap10 scroll-vertical">
			<div class="form-group large">
				<fieldset class="row spread">
					<h4 class="primary" id="username">John McHugh</h4>
					<h5>Plan 1 - 74375</h5>
				</fieldset>
				<fieldset>
					<label>Defined Contributions</label>
					<div>$17,654.00</div>
				</fieldset>
				<fieldset class="row gap10 wrap">
					<fieldset>
						<label>Market Value</label>
						<button class="small center">$17,654.00</button>
					</fieldset>
					<fieldset>
						<label>Vested Value</label>
						<button class="small center">$15,654.23</button>
					</fieldset>
					<fieldset>
						<label>Available Loans</label>
						<button class="small center">$16,323.34</button>
					</fieldset>
					<fieldset>
						<label>Withdrawals</label>
						<button class="small center">$17,120.00</button>
					</fieldset>
				</fieldset>
			</div>
			<div class="form-group large">
				<fieldset class="row spread">
					<h4 class="primary" id="username">John McHugh</h4>
					<h5>Plan 2 - 35310</h5>
				</fieldset>
				<fieldset>
					<label>Defined Contributions</label>
					<div>$243,950.00</div>
				</fieldset>
				<fieldset class="row gap10 wrap">
					<fieldset>
						<label>Market Value</label>
						<button class="small center">$243,950.00</button>
					</fieldset>
					<fieldset>
						<label>Vested Value</label>
						<button class="small center">$243,000.00</button>
					</fieldset>
					<fieldset>
						<label>Available Loans</label>
						<button class="small center">$243,000.95</button>
					</fieldset>
					<fieldset>
						<label>Withdrawals</label>
						<button class="small center">$221,592.23</button>
					</fieldset>
				</fieldset>
			</div>
		</main>
	</body>
</html>
