<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>App Definition Builder</title>
		<script type="module" src="./app-definition-builder-view.js"></script>
		<link rel="stylesheet" href="../../../style/app.css" />
		<script src="../../../components/fin-toggle-class.js" defer></script>
	</head>

	<body class="col fill gap20">
		<header class="row spread middle">
			<div class="col">
				<h1>App Definition Builder</h1>
				<h1 class="tag">Helping you build an app definition</h1>
			</div>
			<div class="row middle gap10">
				<button is="fin-toggle-class" title="Change style"></button>
				<image src="../../../images/icon-blue.png" alt="OpenFin" height="40px"></image>
			</div>
		</header>
		<main class="row fill gap20">
			<div class="row fill gap40">
				<div class="fill col gap20">
					<form class="col gap40 scroll-vertical">
						<div class="form-section col gap10">
							<h2>App Options</h2>
							<fieldset>
								<label for="id" title="An id that represents this entry">Name / App Id</label>
								<input type="text" id="id" class="full" placeholder="my-app-id" />
							</fieldset>
							<fieldset>
								<label for="title" title="A friendly title for your app.">Title</label>
								<input type="text" id="title" class="full" placeholder="My Demo App." />
							</fieldset>
							<fieldset>
								<label for="description" title="A description that can will be shown for your application.">
									Description
								</label>
								<textarea
									type="text"
									id="description"
									rows="3"
									class="full"
									placeholder="A rich description that can show up in the Home UI or Store UI."
								></textarea>
							</fieldset>
							<fieldset>
								<label
									for="manifest-type"
									title="There are different types of manifest you can launch. Some may be default others may be custom to your platform."
								>
									Manifest Type
								</label>
								<select name="manifest-type" id="manifest-type"></select>
							</fieldset>
							<fieldset>
								<p class="success" id="manifest-type-description"></p>
								<p class="success">
									<a href="" id="help-link" target="_blank">More Info</a>
								</p>
							</fieldset>
							<fieldset id="inline-manifest-container">
								<label for="inline-manifest" title="The manifest you wish to inline.">Manifest</label>
								<textarea
									id="inline-manifest"
									rows="8"
									class="full"
									placeholder='{ "url": "https://www.mydomain.com", "fdc3InteropApi": "1.2" }'
								></textarea>
							</fieldset>
							<fieldset id="manifest-container">
								<label for="manifest" title="The path to your application/manifest file">Manifest Path</label>
								<input
									type="text"
									id="manifest"
									class="full"
									placeholder="https://path-to/manifest.json or Path to exe"
								/>
							</fieldset>
							<fieldset>
								<label for="icon" title="The path to the icon associated with this application">Icon</label>
								<input
									type="url"
									id="icon"
									class="full"
									placeholder="http://localhost:8080/common/images/icon-blue.png"
								/>
							</fieldset>
							<fieldset>
								<label
									for="app-image"
									title="The path to an image associated with this app. For use in displaying in a store etc."
								>
									Image
								</label>
								<input
									type="url"
									id="app-image"
									class="full"
									placeholder="http://localhost:8080/common/images/previews/app-definition-builder.png"
								/>
							</fieldset>
							<fieldset>
								<label
									for="contact-email"
									title="The email people should use to find out more information about this app."
								>
									Contact Email
								</label>
								<input type="email" id="contact-email" class="full" placeholder="contact@example.com" />
							</fieldset>
							<fieldset>
								<label for="support-email" title="The email people should use to get support for this app.">
									Support Email
								</label>
								<input type="email" id="support-email" class="full" placeholder="support@example.com" />
							</fieldset>
							<fieldset>
								<label for="publisher" title="The publisher of this app.">Publisher</label>
								<input type="text" id="publisher" class="full" placeholder="OpenFin" />
							</fieldset>
							<fieldset>
								<label
									for="tags"
									title="A comma separated list of tags to associate with this app. Specify view for urls, native for native apps, page for snapshot etc"
								>
									Tags
								</label>
								<input type="text" id="tags" class="full" placeholder="view, page, native, etc" />
							</fieldset>
							<fieldset>
								<label for="intents" title="Does this application support any intents?">
									Supported Intents
								</label>
								<select name="intents" id="intents" multiple="multiple" size="5" class="full">
									<option value="fdc3.instrument">fdc3.instrument</option>
									<option value="fdc3.contact">fdc3.contact</option>
								</select>
							</fieldset>
						</div>
					</form>
				</div>
				<div class="col fill gap20">
					<h2 id="previewTitle">App Definition</h2>
					<pre id="preview" class="fill scroll-vertical"></pre>
				</div>
			</div>
		</main>
		<footer>
			<div class="row spread">
				<div class="row gap10">
					<button id="btnReset">Reset</button>
				</div>
				<div class="row gap10">
					<button id="btnCopy">Copy To Clipboard</button>
				</div>
			</div>
		</footer>
	</body>
</html>
