body {
  border-color: white;
  border-style: solid;
}

input[type='radio'] {
  vertical-align: bottom;
}

.launchContainer {
  padding-top: 25px;
}
.intentContainer {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-y: auto;
  height: 215px;
}
.appContainer {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-y: auto;
  height: 215px;
}

.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.nodrag {
  -webkit-app-region: no-drag;
}
