:root {
	--brand-primary: #0a76d3;
	--brand-secondary: #189ffb;
	--brand-background: #fafbfe;
	--brand-tile-background: #e4e4e4;
	--brand-main-text: #000000;
}

* {
	font-family: Inter, 'Sans Serif';
	box-sizing: border-box;
}

button {
	border: 0;
	background: none;
	text-align: left;
	cursor: pointer;
}

body {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: var(--brand-background);
	color: var(--brand-main-text);
}

body.scrollable {
	overflow: auto;
}

body.body-white {
	background-color: #ffffff;
}

h1 {
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	margin-block-start: 0;
	margin-block-end: 0;
}

p {
	font-size: 14px;
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: #6f7178aa;
}
::-webkit-scrollbar-thumb {
	background: #333333;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: #000000;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

.fill {
	flex: 1;
}

.middle {
	align-items: center;
}

.bottom {
	align-items: flex-end;
}

.spread {
	justify-content: space-between;
}

.right {
	justify-content: flex-end;
}

.gap5 {
	gap: 5px;
}

.gap10 {
	gap: 10px;
}

.gap20 {
	gap: 20px;
}

.pad10 {
	padding: 10px;
}

.pad20 {
	padding: 20px;
}

.team-member-list {
	gap: 10px;
	height: 100%;
	padding: 10px 0px 0px 10px;
	overflow-y: auto;
}

.team-member-tile {
	min-height: 50px;
	padding: 6px;
	overflow: hidden;
	border-radius: 5px 0px 0px 5px;
	background-color: var(--brand-tile-background);
}

.team-member-tile[aria-selected='true'] {
	background-color: var(--brand-secondary);
	color: #ffffff;
}
.team-member-tile[aria-selected='true'] > div > button {
	color: #ffffff;
}
.team-member-tile[aria-selected='true'] > .team-member-navigate {
	color: #ffffff;
}

.team-member-name {
	padding: 0;
	font-weight: bold;
	font-size: 10px;
}

.team-member-role {
	font-size: 10px;
}

.team-member-avatar {
	width: 38px;
	height: 38px;
	object-fit: cover;
	border-radius: 50%;
}

#monthYearPrevious,
#monthYearNext {
	font-weight: bold;
}

#smallCalendar {
	margin-top: 20px;
}

#nextOnLeave {
	margin-top: 20px;
	font-size: 12px;
}

.calendar-header,
.calendar-days {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
}

.calendar-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
	font-size: 10px;
	border: 1px solid transparent;
	overflow: hidden;
}

.calendar-header > .calendar-cell {
	color: #c9cbd2;
	padding: 10px;
}
.calendar-header > .calendar-cell.calendar-cell-large {
	color: #000000;
	padding: 5px;
}

.calendar-cell.calendar-cell-large {
	padding: 5px 0px;
	font-size: 8px;
	justify-content: flex-start;
	align-items: flex-start;
}

.calendar-cell.calendar-cell-border {
	border: 1px solid var(--brand-main-text);
}
.calendar-cell.calendar-cell-large.calendar-cell-border {
	border: 1px solid #e4e4e4;
}

.calendar-cell.calendar-cell-dimmed {
	background-color: #ffffff;
	color: #aaaaaa;
}

.calendar-cell.calendar-cell-used {
	background-color: var(--brand-secondary);
	color: #ffffff;
}

.calendar-cell.calendar-cell-approved {
	background-color: #3aa558;
	color: #ffffff;
}

.calendar-cell.calendar-cell-awaiting-approval {
	background-color: #fedce2;
	color: #f73155;
}

.calendar-cell-day-text {
	padding: 0px 5px;
}
.calendar-cell-day-state-text {
	padding: 5px 5px;
	white-space: nowrap;
}
.calendar-cell.calendar-cell-large > .calendar-cell-day-text.calendar-cell-today {
	background-color: #3aa558;
	border-radius: 5px;
	color: #ffffff;
}

.calendar-cell-day-state-bar-container {
	width: 100%;
}

.calendar-cell-day-state-bar-container-first {
	padding-left: 5px;
}

.calendar-cell-day-state-bar {
	background-color: #ffffff;
	opacity: 0.8;
	height: 7px;
	width: 100%;
}

.summary {
	min-width: 220px;
}

.summary > div > img {
	margin-bottom: 10px;
}

.summary-value {
	margin-top: 15px;
	font-size: 28px;
}

.summary-label {
	font-size: 16px;
	font-weight: 300;
}

.summary-label.summary-remaining,
.summary-value.summary-remaining {
	color: #3aa558;
	font-weight: bold;
}

.summary-label.summary-awaiting-approval,
.summary-value.summary-awaiting-approval {
	color: #f73155;
}

.summary-footer {
	flex: 1;
	font-size: 10px;
	font-weight: bold;
}

.manager-paths {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #005cb9;
	padding: 8px 20px;
	gap: 10px;
}

.manager-paths > div {
	gap: 20px;
}

.manager-paths > div > a {
	color: #ffffff;
	font-size: 11px;
	text-decoration: none;
	line-height: 2;
}

.manager-paths > div > a[aria-selected='true'] {
	font-weight: bold;
	text-decoration: underline;
	text-decoration-thickness: 4px;
	text-decoration-color: #e5832d;
	text-underline-offset: 2px;
}

.paths-container {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	gap: 10px;
	overflow: auto;
}

.path-tile {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 1px solid #afafaf;
	border-radius: 5px;
}

.path-tile > div > button {
	background-color: #005cb9;
	color: #ffffff;
	border-radius: 5px;
	padding: 10px;
	min-width: 110px;
	text-align: center;
}

.company-comms {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 12px 20px;
	gap: 10px;
}

.company-comms > div {
	gap: 20px;
}

.company-comms > div > a {
	color: #000000;
	font-size: 11px;
	text-decoration: none;
}

.company-comms > div > a[aria-selected='true'] {
	font-weight: bold;
	color: #4426c6;
}

.company-comms-list {
	background-color: #4426c6;
	color: #ffffff;
	overflow-y: auto;
}

.comms-date {
	font-weight: bold;
	font-size: 12px;
}

.comms-time {
	font-size: 12px;
	margin-top: 3px;
}

.comm-content {
	margin-top: 5px;
	font-size: 12px;
}

.comm-link {
	margin-top: 2px;
	font-size: 12px;
	font-weight: bold;
	color: #fff966;
	cursor: pointer;
	text-decoration: none;
}
