<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Call Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <script
      defer="defer"
      src="static/js/index.js"
    ></script>
    <link
      href="static/css/index.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="App">
        <div class="title">Call Application</div>
        <div class="card">
          <div class="content">
            <div class="time"><span id="time">00:00</span></div>
            <div class="time-elapsed">Time elapsed</div>
            <button class="call-btn" id="action">Start Call</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
