<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Participant Selection</title>
		<link rel="icon" type="image/x-icon" href="../../../../favicon.ico" />
		<link rel="stylesheet" href="../../../style/app.css" />
		<script defer="defer" src="./index.js"></script>
	</head>

	<body class="small col fill gap20">
		<h3>Participant Selection</h3>

		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Account</th>
					<th>Email</th>
					<th>Interaction Type</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>05/05/2021</td>
					<td class="username">John McHugh (464065)</td>
					<td>john.mchugh@gmail.com</td>
					<td>Phone Call</td>
					<td>
						<div class="row gap10">
							<button data-contact="john">Select</button>
							<button class="secondary" data-contact="john">Raise Intent</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>04/11/2020</td>
					<td class="username">James Bond (3453465)</td>
					<td>bond_james@grandhotels.com</td>
					<td>Webex</td>
					<td>
						<div class="row gap10">
							<button data-contact="james">Select</button>
							<button class="secondary" data-contact="james">Raise Intent</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>04/01/2021</td>
					<td class="username">Ashley James (234324)</td>
					<td>ashley.james@3rnfnf.onmicrosoft.com</td>
					<td>Email</td>
					<td>
						<div class="row gap10">
							<button data-contact="ashley">Select</button>
							<button class="secondary" data-contact="ashley">Raise Intent</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>03/23/2021</td>
					<td class="username">Avi Green (213065)</td>
					<td>avi.green@3rnfnf.onmicrosoft.com</td>
					<td>Zoom</td>
					<td>
						<div class="row gap10">
							<button data-contact="avi">Select</button>
							<button class="secondary" data-contact="avi">Raise Intent</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
