<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>New Tab</title>
		<link rel="stylesheet" href="../../../style/app.css" />
		<script defer="defer" src="./new-tab.js"></script>
		<style>
			.query {
				width: 80%;
				padding: 20px 10px;
				font-size: x-large;
				text-align: center;
			}
			.query-container {
				width: 100%;
				padding-top: 125px;
				padding-bottom: 25px;
				text-align: center;
			}
		</style>
	</head>

	<body class="theme-light col fill gap20">
		<header class="row spread middle">
			<div class="col">
				<h1>New Tab</h1>
			</div>
		</header>
		<main class="form fill col middle scroll-vertical">
			<div class="query-container">
				<input id="query" type="text" class="query" placeholder="Query or Url" />
			</div>
			<div>
				<button type="submit" id="action">Search</button>
			</div>
		</main>
	</body>
</html>
