<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>New Tab</title>
		<link rel="icon" type="image/x-icon" href="../../../../favicon.ico" />
		<script src="../../../style/style-changed-preload.js"></script>
		<link rel="stylesheet" href="../../../style/app.css" />
		<script defer="defer" src="./new-tab.js"></script>
		<style>
			.query-container {
				padding-top: 125px;
			}
		</style>
	</head>

	<body class="col fill gap20">
		<header class="row spread middle">
			<div class="col">
				<h1>New Tab</h1>
			</div>
		</header>
		<main class="form fill col gap20 middle scroll-vertical">
			<div class="width-full row pad20 query-container">
				<input id="query" type="text" class="large center full" placeholder="Query or Url" />
			</div>
			<button type="submit" id="action">Search</button>
		</main>
	</body>
</html>
