<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Participant Selection</title>
		<link rel="icon" type="image/x-icon" href="../../../../favicon.ico" />
		<link rel="stylesheet" href="../../../style/app.css" />
		<script src="https://built-on-openfin.github.io/web-starter/web/v19.0.0/web-client-api/js/shim.api.bundle.js"></script>
		<script defer="defer" src="./index.js" type="module"></script>
		<style>
			.profile-pic {
				border-radius: 5px;
			}
		</style>
	</head>

	<body class="small col fill gap20 scroll-vertical">
		<h3>Participant Selection</h3>

		<table>
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Date</th>
					<th>Account</th>
					<th>Email</th>
					<th>Interaction Type</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</body>
</html>
