@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
	--brand-background: #111214;
	--brand-primary: hsl(241, 100%, 65%);
	--brand-primary-light: hsl(241, 100%, 85%);
	--brand-primary-hover: hsl(241, 100%, 55%);
	--brand-text: #ffffff;
	--brand-text-secondary: #eeeeee;

	accent-color: var(--brand-primary);
}

.theme-light {
	--brand-background: #ffffff;
	--brand-primary: hsl(241, 100%, 65%);
	--brand-primary-light: hsl(241, 100%, 85%);
	--brand-primary-hover: hsl(241, 100%, 55%);
	--brand-text: #111214;
	--brand-text-secondary: #333333;
}

.primary {
	color: var(--brand-primary);
}

* {
	font-family: Inter, 'Sans Serif';
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	overflow: hidden;
	padding: 30px;
	margin: 0;
	background-color: var(--brand-background);
	color: var(--brand-text);
}

body.border {
	padding: 20px;
	margin: 0;
	background-color: var(--brand-background);
	color: var(--brand-text);
	border: 1px solid #000000;
	border-radius: 5px;
	width: 99%;
	height: 99%;
}

body.small {
	padding: 15px;
}

h1 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	margin-block-start: 0;
	margin-block-end: 0;
}
h1.tag {
	font-size: 12px;
	font-weight: normal;
	margin-top: 5px;
}

h2 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	margin-block-start: 0;
	margin-block-end: 0;
}

h3 {
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	margin-block-start: 0;
	margin-block-end: 0;
}

h4 {
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	margin-block-start: 0;
	margin-block-end: 0;
}

h5 {
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	margin-block-start: 0;
	margin-block-end: 0;
}

p {
	font-size: 14px;
	margin-block-start: 0;
	margin-block-end: 0;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
	background: #6f7178aa;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: #333333;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: #000000;
}

main {
	min-height: 100px;
}

footer > div > div > a,
button {
	background-color: var(--brand-primary);
	color: #ffffff;
	border: 2px solid var(--brand-primary);
	border-radius: 5px;
	padding: 10px 20px;
	text-align: left;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	outline: 0;
	white-space: nowrap;
}
button:disabled {
	opacity: 0.5;
	cursor: default;
}
footer > div > div > a:hover,
button:not(:disabled):hover {
	background-color: var(--brand-primary-hover);
	border-color: var(--brand-primary-hover);
}
button.image {
	padding: 2px;
	background: none;
}
button.image > img {
	width: 32px;
	height: 32px;
}
button.secondary {
	background-color: #ffffff;
	color: var(--brand-primary);
}
button.secondary:not(:disabled):hover {
	background-color: #eeeeee;
}
button.plain {
	border-color: transparent;
	background-color: transparent;
	color: var(--brand-primary);
}
button.plain:not(:disabled):hover {
	border-color: transparent;
	background-color: transparent;
}
button.small,
td button {
	padding: 5px 10px;
	font-size: 10px;
}

button.center {
	text-align: center;
}

pre {
	margin: 0;
	font-size: 12px;
	font-family: 'Courier New', Courier, monospace;
	white-space: pre-line;
}

header {
	padding-bottom: 10px;
	border-bottom: 1px solid var(--brand-text-secondary);
}

footer {
	padding-top: 10px;
	border-top: 1px solid var(--brand-text-secondary);
}

fieldset {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 0;
	padding: 0;
	font-size: 12px;
}

label {
	width: 140px;
}

select,
input[type='text'],
input[type='password'],
input[type='range'] {
	height: 30px;
	border-radius: 5px;
	border: 0;
	outline: 2px solid transparent;
	background-color: var(--brand-background);
	color: var(--brand-text);
}

fieldset > span {
	margin-left: 10px;
	width: 50px;
}

input:focus,
button:focus,
footer > div > div > a:focus {
	outline: 2px solid var(--brand-primary-light);
}

input[type='text'],
input[type='password'] {
	flex: 1;
	border: 1px solid var(--brand-text-secondary);
}

input[type='checkbox'],
input[type='radio'] {
	background-color: var(--brand-background);
	color: var(--brand-text);
}

input[type='checkbox'] {
	width: 20px;
	height: 20px;
}

input[type='radio'] {
	width: 16px;
	height: 16px;
	margin: 2px;
}

input[type='radio'] + label {
	white-space: nowrap;
	margin-left: 10px;
}

select {
	width: 120 px;
}

input[type='color'] {
	border: 0;
	border-radius: 7px;
	background: none;
	padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type='color']::-webkit-color-swatch {
	border: solid 1px var(--brand-primary-light);
	border-radius: 7px;
}

em {
	font-size: 12px;
}

.formSection {
	margin-right: 20px;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

.fill {
	flex: 1;
	overflow: hidden;
}

.fill_2 {
	flex: 2;
}

.scroll {
	overflow: auto;
}

.scroll-vertical {
	overflow-y: auto;
}

.scroll-horizontal {
	overflow-x: auto;
}

.overflow-visible {
	overflow: visible;
}

.middle {
	align-items: center;
}

.bottom {
	align-items: flex-end;
}

.spread {
	justify-content: space-between;
}

.around {
	justify-content: space-around;
}

.left {
	align-items: flex-start;
}

.center {
	justify-content: center;
}

.right {
	justify-content: flex-end;
}

.wrap {
	flex-wrap: wrap;
}

.gap5 {
	gap: 5px;
}

.gap10 {
	gap: 10px;
}

.gap20 {
	gap: 20px;
}

.gap40 {
	gap: 40px;
}

.pad10 {
	padding: 10px;
}

.pad20 {
	padding: 20px;
}

.error {
	color: red;
}

table {
	width: 100%;
	font-size: 10px;
	border: 0;
	border-collapse: collapse;
}

tr:nth-child(odd) {
	background-color: #e2e2e2;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th {
	border: 0;
	background-color: #666666;
	color: #ffffff;
	padding: 5px;
	text-align: left;
	word-break: break-word;
}

td {
	padding: 5px;
	word-break: break-word;
	color: #000000;
}

.drag {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

.form {
	background-color: #f3f3f3;
	border-radius: 5px;
	padding: 10px;
	font-size: 12px;
}

.form-group {
	background-color: #e3e3e3;
	border-radius: 5px;
	padding: 10px;
}

.form-group fieldset {
	flex-wrap: wrap;
	font-size: 12px;
}

.form label,
.form-group label {
	font-weight: bold;
}

.no-textwrap {
	white-space: nowrap;
}
