<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>Access Denied</title>
		<link rel="icon" type="image/x-icon" href="../../../../favicon.ico" />
		<script src="../../../style/style-changed-preload.js"></script>
		<link rel="stylesheet" href="../../../style/app.css" />
		<script defer="defer" src="./no-access.js"></script>
		<style>
			.access-container {
				padding-top: 125px;
			}
		</style>
	</head>

	<body class="col fill gap20">
		<header class="row spread middle">
			<div class="col">
				<h1>Application Access</h1>
				<h1 class="tag">Application is no longer accessible</h1>
			</div>
			<div class="row middle gap10">
				<image src="../../../images/icon-blue.png" alt="OpenFin" height="40px"></image>
			</div>
		</header>
		<main class="form fill col">
			<div class="fill col">
				<div class="col gap10">
					<h2>
						Application Id:
						<span id="appId"></span>
					</h2>
					<div>
						You no longer have access to this application. Please contact your administrator for more
						information.
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
