name: Automation Test Headless
on: [push, workflow_dispatch]

concurrency:
  group: automation-single-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install Packages
        run: |
          npm install
      - name: Run JavaScript Tests with Mocha
        run: |
          npx fkill-cli OpenFin OpenFinRVM --force --silent
          npm run test-remote-mocha --prefix how-to/automation-testing/register-with-home-js
