name: Check Linting has been applied

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        env:
           NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm install
      - name: Run prettier
        run: npx prettier --config .prettierrc --check .
      - name: Run eslint
        run: npm run eslint
      - name: Run markdownlint
        run: npm run markdownlint
